# -- General --
# Auto-add keys to agent on first use
AddKeysToAgent yes

# -- Git --

Host github.com
    HostName github.com
    IdentityFile ~/.ssh/id_github
    User git
    IdentitiesOnly yes

{{- if eq .machine_role "personal" }}

# -- Home --

{{ onepasswordRead "op://ben-dotfiles/ssh/config.home" }}

# -- Servers --

{{ onepasswordRead "op://ben-dotfiles/ssh/config.servers" }}
{{- end }}
