[user]
name  = {{ onepasswordRead (printf "op://%s/dotfiles-git/config.name"  .df_vault) | quote }}
email = {{ onepasswordRead (printf "op://%s/dotfiles-git/config.email" .df_vault) | quote }}

[ui]
editor = "nvim"
