configuration {
    modi: "combi";
    combi-modi: "drun";
    show-icons: true;
    terminal: "alacritty";
    font: "FiraCode Nerd Font Mono 13";
    display-drun: "  Apps";
    display-run: "  Run";
    display-combi: "  Launch";
}

@theme "gruvbox"
